body{
    text-align: center;
    font-size: 150%;
}

body{
    color:white;
    transition: color 0.5s ease-in-out;
}
.btn{
    cursor : pointer;
}
.clicked{
    color: #7f8c8d;
}
.form,
.greetings{
    display: none;
}
.showing{
    display: block;
}
.bgImage{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 80%;
    z-index: -1;
    animation: fadeIn .5s;
}
h1{font-size: 500%;
font-weight: normal;
text-align: center;}

@keyframes fadeIn{
    from{
        opacity:0
        
    }to{
        opacity: 1;
    }
}
